@import "tailwindcss";

body {
  @apply bg-black;
} 
@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-left {
  animation: marquee-left 25s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 25s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(-4deg);
  }

  50% {
    transform: translateY(-12px) rotate(4deg);
  }

  100% {
    transform: translateY(0px) rotate(-4deg);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}